body
{
    margin: 0;
}
.page
{
    height: 1900px;
    background-position: center;
    background-size: cover;
}
h1
{
    text-align: center;
    color: white;
    background-color: black;
    padding: 35px;
    margin-top: 0;
}
.pro-dis
{
    color: white;
    text-align: left;
    font-size: 19px;
    padding-bottom: 0px;
    padding-left: 10px;
}
.bestel-button
{
    margin-left: 300px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color: white;
    background-color: black;
    font-size: 30px;
}
.afstand
{
    padding: 20px;
}
.con-info
{
    text-align: center;
    color: white;
    background-color: black;
    font-size: 30px;
    padding: 50px;
    margin-top: 66px;
}